<div>
	<table>
		<tr style="font-weight: bold;">
			<td>Parameter</td>
			<td>Type</td>
			<td>Description</td>
			<td>Constraints</td>
			<td>Example</td>
		</tr>
		<tr>
			<td>dicefill</td>
			<td>Hex String</td>
			<td>die color</td>
			<td>000000 - FFFFFF</td>
			<td>?diefill=00FF00</td>
		</tr>
		<tr>
			<td>circlefill</td>
			<td>Hex String</td>
			<td>color of circles</td>
			<td>000000 - FFFFFF</td>
			<td>?circlefill=002F00</td>
		</tr>
		<tr>
			<td>size</td>
			<td>int</td>
			<td>size of die (in pixels)</td>
			<td>1 - ∞</td>
			<td>?size=400</td>
		</tr>
		<tr>
			<td>cornerrad</td>
			<td>int</td>
			<td>percentage of bevel to add</td>
			<td>0 - 100</td>
			<td>?cornerrad=25</td>
		</tr>
		<tr>
			<td>num</td>
			<td>int</td>
			<td>set the number to show on the die</td>
			<td>1 - 6</td>
			<td>?num=3</td>
		</tr>
		<tr>
			<td>circlerad</td>
			<td>int</td>
			<td>percentage-operated sizing of die circles in relation to the die size</td>
			<td>0 - 100</td>
			<td>?circlerad=85</td>
		</tr>
	</table>
</div>